@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot');
  src: url('/fonts/fontello.eot#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff') format('woff'),
       url('/fonts/fontello.ttf') format('truetype'),
       url('/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background: url('/img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Helvetica;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #5C80B1;
}

a:hover {
  color: Red;
}

p,
pre {
  margin-bottom: 17px;
}

em {
  font-style: italic;
}

h1 {
  color: white;
  font-size: 40px;
  margin-bottom: 35px;
}

h2 {
  color: silver;
  font-size: 20px;
  margin-bottom: 7px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 7px;
}

figcaption {
  text-align: right;
  font-size: 12px;
}

/* Page header */
#header {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6PxMAAqABmy7EG5gAAAAASUVORK5CYII=);
  color: blue;
  margin: 0 0 30px 0;
  width: 100%;
}

ul.nav {
  list-style-type: none;
}

ul.nav li {
  display: inline-block;
  line-height: 50px;
  padding-left: 25px;
  height: 50px;
  margin: auto;
}

ul.nav li.icon {
  font-family: 'fontello';
  font-size: 20px;
}

ul.nav .active {
  font-weight: bold;
}

.nav h1 {
  font-size: 22px;
  font-weight: bold;
  display: inline;
  color: black;
  margin-bottom: inherit;
}

/* Page layout */
#content {
  max-width: 900px;
  margin: 0 auto;
}

.main-content {
  max-width: 40%;
  color: silver;
  padding-bottom: 20px;
}

/* Page footer */
footer {
  text-align: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6PxMAAqABmy7EG5gAAAAASUVORK5CYII=);
  margin: 70px 0 0 0;
  width: 100%;
}

header a,
footer a {
  color: #173575;
}

/* Index page */
.index #content {
  max-width: inherit;
  margin-left: 35px;
}

.index .posts li {
  list-style: none;
  line-height: 35px;
  color: silver;
}

.index .posts li a {
  color: white;
}

.index .posts li a:hover {
  color: red;
}

/* Article page */
.article article {
  border: 2px solid silver;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6/xQAAuwB59/v/RgAAAAASUVORK5CYII=);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.article article h1,
.article article h2,
.article article h3,
.article article h4 {
  color: #173575;
}

.article article h1 {
  text-align: center;
  font-size: 35px;
  margin: 0 0 0 0;
  padding-top: 40px;
  padding-bottom: 5px;
}

.article article .details {
  color: silver;
  margin-bottom: 20px;
}

.article article .content {
  /*background-color: White;*/
  padding: 25px;
  line-height: 25px;
}

.article article img {
  max-width: 100%;
}

.article article .footer {
  background-color: Black;
  padding: 6px;
}

/* Comment threads */
#disqus_thread {
  padding: 25px;
}

/* Code */

/*
Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>
*/

pre code {
  display: block;
  padding: 15px;
  line-height: 19px;
  background: white;
  color: #657b83;
  border: 1px solid silver;
  overflow: auto;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

code {
  padding: 4px;
  background: white;
  color: #657b83;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .function .title,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id {
  color: #268bd2;
}

pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  font-weight: bold;
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .label {
  color: #b58900;
}

pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula {
  background: #eee8d5;
}
