extends layout

block append vars
  - var activeNav = 'Software Blog'

block content
  h2 Posts

  each article in articles
    p
      a(href=article.url)= article.title + ' ' + moment.utc(article.date).format(' (DD MMMM YYYY) ')
